.frame-parent17 {
  position: absolute;
  top: 6.31rem;
  left: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.75rem;
}
.case-study-version-2-swift-ga-inner {
  position: absolute;
  top: 5rem;
  left: calc(50% - 960px);
  background: linear-gradient(180deg, #ebfffe 0.01%, rgba(249, 251, 253, 0));
  width: 120rem;
  height: 232.69rem;
  overflow: hidden;
}
.case-study-version-2-swift-ga-child,
.case-study-version-2-swift-ga-item {
  position: absolute;
  top: 7.69rem;
  left: 19.63rem;
  width: 18.06rem;
  height: 8.25rem;
}
.case-study-version-2-swift-ga-item {
  left: 85.56rem;
}
.case-study-version-2-swift-ga {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 267.44rem;
  overflow: hidden;
}
