.heading3,
.privacy-policy1 {
  position: relative;
  line-height: 2.5rem;
}
.heading3 {
  align-self: stretch;
  font-weight: 600;
}
.content-item6 {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading4,
.paragraph3 {
  align-self: stretch;
  position: relative;
}
.heading4 {
  line-height: 1.88rem;
  font-weight: 600;
}
.paragraph3 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #585e6b;
}
.heading-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.a-personal-information {
  margin: 0;
}
.content-item7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  font-size: 1.25rem;
}
.frame-div {
  width: 82.5rem;
  align-items: flex-start;
  gap: 1.5rem;
}
.frame-div,
.frame-wrapper,
.privacy-policy-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper {
  align-items: flex-start;
  text-align: left;
  font-size: 2rem;
  color: #2e3646;
}
.privacy-policy-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #ebfffe 0.01%, rgba(249, 251, 253, 0));
  padding: 5rem 0 0;
  align-items: center;
  gap: 5rem;
}
.privacy-policy-child,
.privacy-policy-item {
  position: absolute;
  top: 7.69rem;
  left: 19.63rem;
  width: 18.06rem;
  height: 8.25rem;
}
.privacy-policy-item {
  left: 85.56rem;
}
.privacy-policy {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 161.63rem;
  text-align: center;
  font-size: 2.25rem;
  color: #41b79b;
  font-family: Sora;
}
