.logo-icon1 {
  position: relative;
  width: 6.88rem;
  height: 3.5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.supporting-text13 {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
}
.logo-and-supporting-text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  color: #f5f5f6;
}
.policy1 {
  font-weight: 600;
}
.policy1,
.text40 {
  position: relative;
  line-height: 1.5rem;
}
.item-21,
.text-parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.item-21 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  gap: 1rem;
}
.heading38,
.text46 {
  position: relative;
  line-height: 1.5rem;
}
.text46 {
  display: none;
}
.heading38 {
  align-self: stretch;
  font-weight: 600;
}
.app-store-actions1 {
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.app-store-actions1,
.container3,
.content11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  align-self: stretch;
  flex-direction: row;
  gap: 3rem;
}
.container3 {
  width: 82.5rem;
  flex-direction: column;
}
.footer-text1 {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
}
.social-icon3 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.content12,
.social-icons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.content12 {
  align-self: stretch;
  border-top: 1px solid #737883;
  padding: 2rem 0 0;
  gap: 2rem;
}
.container-group,
.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container4 {
  width: 82.5rem;
  color: #fff;
}
.container-group {
  position: absolute;
  top: 6.25rem;
  left: 18.75rem;
  gap: 3rem;
}
.vector-icon30 {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.actions2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon9 {
  position: relative;
  width: 1.15rem;
  height: 1.15rem;
}
.actions-group {
  position: absolute;
  top: 8.94rem;
  left: 92.81rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.69rem;
}
.frame-parent86 {
  position: absolute;
  top: 144.13rem;
  left: calc(50% - 960px);
  background-color: #2e3646;
  width: 120rem;
  height: 29.75rem;
  text-align: left;
  font-size: 1rem;
  color: #f9fbfb;
  font-family: Sora;
}
