.background3-2-icon {
  position: relative;
  width: 6.88rem;
  height: 3.5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text15 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
  color: #2e3646;
}
.text15:hover {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
  color: #41b79b;
}

.chevron-right-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  color: #2e3646;
}
.component-2-parent,
.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.component-2-parent {
  align-items: flex-start;
  gap: 1.5rem;
}
.frame-parent38,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent38 {
  justify-content: flex-start;
  gap: 2rem;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e7;
  box-sizing: border-box;
  width: 120rem;
  padding: 0.75rem 18.75rem;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  color: #2e3646;
  font-family: Sora;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .chevron-right-icon {
  transform: rotate(180deg);
}

.text15.dropdown:hover {
  cursor: pointer;
  transition: color 0.3s ease;
}
