.background3-2-icon {
  position: relative;
  width: 6.88rem;
  height: 3.5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text15 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
  color: #2e3646;
}

.text15:hover,
.text15.open {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
  color: #41b79b;
}

.chevron-right-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  color: #2e3646;
}
.component-2-parent,
.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.component-2-parent {
  align-items: flex-start;
  gap: 1.5rem;
}
.frame-parent38,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent38 {
  justify-content: flex-start;
  gap: 2rem;
}
.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e7;
  box-sizing: border-box;
  /* width: 120rem; */
  padding: 0.75rem 18.75rem;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  color: #2e3646;
  font-family: Sora;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .chevron-right-icon {
  transform: rotate(180deg);
}

.text15.dropdown:hover {
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-frame,
.products-parent,
.top-ups-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-ups-parent {
  gap: 0.5rem;
  font-size: 0.88rem;
  color: #2e3646;
}
.dropdown-frame,
.products-parent {
  gap: 1rem;
}
.dropdown-frame {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 25px rgba(65, 183, 155, 0.25);
  flex-direction: row;
  min-width: 500px;
  justify-content: center;
  gap: 3rem;
  font-size: 1rem;
  color: #41b79b;
}

.products {
  /* position: relative; */
  line-height: 1.5rem;
  font-weight: 600;
}
.activations,
.top-ups {
  /* position: relative; */
  line-height: 1.25rem;
}
.activations {
  color: #41b79b;
}

.about-us-child {
  line-height: 1.5rem;
}

.about-us-child a {
  text-decoration: none;
}

.about-us-frame {
  top: 5rem;
  left: 73.63rem;
  border-radius: 0 0 8px 8px;
  background-color: #f9fbfd;
  box-shadow: 0 20px 60px rgba(65, 183, 155, 0.25);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
  font-size: 1rem;
  color: #2e3646;
  min-width: 200px;
}
