.implementation {
  position: relative;
  line-height: 2.5rem;
  font-weight: 600;
}
.frame-child23 {
  position: relative;
  border-radius: 50%;
  background-color: #f9fbfd;
  box-shadow: 0 7px 45px rgba(65, 183, 155, 0.3);
  width: 8.63rem;
  height: 8.63rem;
  z-index: 0;
}
.partnering-with-ping {
  position: relative;
  font-weight: 600;
}
.the-vape-store2 {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  text-align: center;
  display: inline-block;
  width: 42rem;
}
.partnering-with-ping-bill-pay-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.88rem;
  z-index: 1;
}
.partners-icon {
  position: absolute;
  margin: 0 !important;
  height: 21.43%;
  width: 17.19%;
  top: 8.24%;
  right: 41.44%;
  bottom: 70.33%;
  left: 41.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.ellipse-parent9 {
  width: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 2.63rem;
}
.the-store-integrated {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  text-align: center;
  display: inline-block;
  width: 42.38rem;
  height: 8.88rem;
  flex-shrink: 0;
}
.integrated-bill-payment-servic-parent {
  width: 42.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.88rem;
  z-index: 1;
}
.frame-child25 {
  position: absolute;
  margin: 0 !important;
  height: 20.26%;
  width: 10.2%;
  top: 7.79%;
  right: 45.4%;
  bottom: 71.95%;
  left: 44.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.ellipse-parent10 {
  height: 24.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 2.63rem;
}
.by-diversifying-its {
  margin: 0;
}
.by-diversifying-its-container {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  text-align: center;
  display: inline-block;
  width: 36.44rem;
  height: 10.06rem;
  flex-shrink: 0;
}
.cross-selling-opportunities-parent {
  width: 36.44rem;
  height: 12.81rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.88rem;
  z-index: 1;
}
.vector-icon27 {
  position: absolute;
  margin: 0 !important;
  height: 20.26%;
  width: 11.28%;
  top: 7.79%;
  right: 44.29%;
  bottom: 71.95%;
  left: 44.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.ellipse-parent11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 2.63rem;
}
.frame-parent62,
.implementation-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent62 {
  width: 82.25rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.44rem;
  font-size: 1.5rem;
}
.implementation-parent {
  width: 82.5rem;
  flex-direction: column;
  gap: 2rem;
}
.results,
.the-wireless-stores {
  align-self: stretch;
  position: relative;
  line-height: 1.75rem;
}
.results {
  font-weight: 600;
}
.the-wireless-stores {
  font-size: 1.25rem;
  color: #626469;
  display: inline-block;
  height: 3.31rem;
  flex-shrink: 0;
}
.results-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.25rem;
}
.icon10 {
  position: relative;
  width: 1.3rem;
  height: 1.88rem;
}
.revenue-growth {
  position: relative;
  line-height: 1.75rem;
  font-weight: 600;
}
.the-adoption-of-container {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  display: inline-block;
  width: 46.88rem;
  height: 6.75rem;
  flex-shrink: 0;
}
.frame-parent65,
.parent4,
.revenue-growth-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.13rem;
}
.frame-parent65,
.parent4 {
  flex-direction: row;
  gap: 1.31rem;
}
.frame-parent65 {
  flex-direction: column;
  gap: 1.75rem;
}
.speech-bubble-icon {
  position: relative;
  width: 29rem;
  height: 32.32rem;
}
.frame-parent63,
.frame-parent64 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent64 {
  flex-direction: row;
  align-items: center;
  gap: 3.94rem;
  font-size: 1.5rem;
}
.frame-parent63 {
  flex-direction: column;
  align-items: flex-end;
  gap: 2.38rem;
}
.the-wireless-stores1 {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  text-align: justify;
  display: inline-block;
  width: 82.5rem;
}
.conclusion-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.this-case-study-container {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  height: 5.13rem;
}
.this-case-study-underscores-th-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 1.25rem;
  color: #494f5f;
}
.frame-parent61,
.frame-parent68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent68 {
  width: 82.5rem;
  gap: 1.13rem;
}
.frame-parent61 {
  gap: 3.75rem;
  text-align: left;
  font-size: 3rem;
  color: #41b79b;
  font-family: Sora;
}
