.icon9 {
  position: relative;
  width: 0.73rem;
  height: 1.83rem;
}
.increased-footfall {
  position: relative;
  line-height: 1.75rem;
  font-weight: 600;
}
.the-introduction-of {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #494f5f;
  display: inline-block;
  width: 46.88rem;
  height: 5.31rem;
  flex-shrink: 0;
}
.increased-footfall-parent,
.parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.13rem;
}
.parent3 {
  flex-direction: row;
  gap: 1.94rem;
  text-align: left;
  font-size: 1.5rem;
  color: #41b79b;
  font-family: Sora;
}
