.vector-icon7 {
  position: absolute;
  width: 24.53%;
  top: calc(50% - 282px);
  right: 15.63%;
  left: 59.84%;
  max-width: 100%;
  overflow: hidden;
  height: 35.21rem;
}
.our-convenient-online {
  align-self: stretch;
  position: relative;
  line-height: 4.5rem;
  font-weight: 600;
}
.utilizes-its-current {
  color: #fff;
}
.ping-utilizes-its-container {
  align-self: stretch;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.our-convenient-online-payment-parent {
  position: absolute;
  top: calc(50% - 172px);
  left: 57.06rem;
  width: 44.19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.75rem;
}
.group-child,
.vector-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon9 {
  height: 97.18%;
  width: 97.18%;
  top: 1.41%;
  right: 1.41%;
  bottom: 1.41%;
  left: 1.41%;
}
.consumer-financing1 {
  position: absolute;
  top: 1.38rem;
  left: 0.25rem;
  font-weight: 600;
  display: inline-block;
  width: 4rem;
  height: 1.69rem;
}
.vector-container {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 8.76%;
  right: 64.78%;
  bottom: 78.79%;
  left: 22.65%;
}
.marketplace1 {
  position: absolute;
  top: 1.81rem;
  left: 0.19rem;
  font-weight: 600;
}
.vector-parent1 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 64.84%;
  right: 79.29%;
  bottom: 22.71%;
  left: 8.14%;
}
.rent-payments1 {
  position: absolute;
  top: 1.38rem;
  left: 0.5rem;
  font-weight: 600;
  display: inline-block;
  width: 3.56rem;
}
.vector-parent2 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 78.16%;
  right: 21.95%;
  bottom: 9.39%;
  left: 65.49%;
}
.mobile {
  margin: 0;
}
.mobile-top-ups {
  position: absolute;
  top: calc(50% - 13.5px);
  left: calc(50% - 31.5px);
  font-weight: 600;
  display: inline-block;
  width: 4rem;
  height: 1.69rem;
}
.vector-icon17,
.vector-parent3 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 9.11%;
  right: 21.95%;
  bottom: 78.44%;
  left: 65.49%;
}
.vector-icon17 {
  height: 97.18%;
  width: 95.77%;
  top: 1.41%;
  right: 2.82%;
  bottom: 1.41%;
  left: 1.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.insurance1 {
  position: absolute;
  top: 1.94rem;
  left: 0.63rem;
  font-weight: 600;
}
.vector-parent4 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 22.43%;
  right: 79.12%;
  bottom: 65.12%;
  left: 8.32%;
}
.tv-internet {
  position: absolute;
  top: 1.5rem;
  left: 0.63rem;
  font-weight: 600;
  display: inline-block;
  width: 3.13rem;
  height: 1.5rem;
}
.vector-parent5 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 77.99%;
  right: 64.78%;
  bottom: 9.57%;
  left: 22.65%;
}
.bill-pay {
  position: absolute;
  top: 1.81rem;
  left: 1.06rem;
  font-weight: 600;
}
.vector-parent6 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 65.02%;
  right: 9.2%;
  bottom: 22.54%;
  left: 78.23%;
}
.activations1 {
  position: absolute;
  top: 1.81rem;
  left: 0.31rem;
  font-weight: 600;
}
.group-parent1,
.vector-parent7 {
  position: absolute;
  height: 12.44%;
  width: 12.57%;
  top: 22.78%;
  right: 9.56%;
  bottom: 64.77%;
  left: 77.88%;
}
.group-parent1 {
  height: 73.15%;
  width: 29.43%;
  top: 13.46%;
  right: 54.95%;
  bottom: 13.38%;
  left: 15.63%;
  text-align: center;
  font-size: 0.63rem;
  color: #77d6bf;
}
.vector-group {
  position: absolute;
  top: 60.19rem;
  left: calc(50% - 960px);
  background-color: #2e3646;
  width: 120rem;
  height: 48.75rem;
  overflow: hidden;
  text-align: left;
  font-size: 3.75rem;
  color: #41b79b;
  font-family: Sora;
}
