@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400&display=swap");
@font-face {
  font-family: "Satoshi";
  src: url("/public/Satoshi-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url("/public/Satoshi-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url("/public/Satoshi-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url("/public/Satoshi-Bold.ttf");
  font-weight: 900;
}

body {
  margin: 0;
  line-height: normal;
}
